{% extends "base.html" %}

{% block content %}
<div class="mx-auto">
    {% if deals %}
        <h2 class="text-lg font-semibold mb-2">Deals</h2>
        <div class="mx-auto p-6 bg-white shadow-md rounded-lg">
            <table class="min-w-full border border-gray-300 mb-6">
                <thead>
                    <tr class="bg-gray-100 text-left">
                        <th class="p-3 cursor-pointer" onclick="sortTable(0, 'deals-table')">Name</th>
                        <th class="p-3 cursor-pointer" onclick="sortTable(1, 'deals-table')">Estimated Completion</th>
                        <th class="p-3 cursor-pointer">Actions</th>
                    </tr>
                </thead>
                <tbody id="deals-table">
                    {% for deal in deals %}
                        <tr class="border-b even:bg-gray-100 odd:bg-white hover:bg-gray-200">
                            <td class="p-2"><a href="{% url 'deal_view' deal.id %}" class="text-blue-600 hover:underline">{{ deal.name }}</a></td>
                            <td class="p-2">{{ deal.estimated_completion }}</td>
                            <td class="p-2">
                                {% if deal.items %}
                                    <a href="{% url 'bulk_edit' deal.id %}"> Edit </a>
                                {% else %}
                                    <a href="{% url 'bulk_add' deal.id %}">Add</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}