<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/YOUR_FONT_AWESOME_KIT.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Sidebar -->
<div class="sidebar">
    <ul>
        <li>
            <a href="{% url 'home' %}">
                <i class="fas fa-home"></i>
                <span class="menu-text">Home</span>
            </a>
        </li>
        <li>
            <a href="{% url 'tracker' %}">
                <i class="fas fa-box"></i>
                <span class="menu-text">Tracker</span>
            </a>
        </li>
        {% if user.is_staff %}
        <li>
            <a href="{% url 'edit' %}">
                <i class="fas fa-edit"></i>
                <span class="menu-text">Edits</span>
            </a>
        </li>
        <li>
            <a href="{% url 'create_page' %}">
                <i class="fas fa-plus-circle"></i>
                <span class="menu-text">Create</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<!-- Main Content -->
<div class="main-content">
    <div class="topnav">
        <div>
            <button id="menu-toggle">&#9776;</button>
        </div>
        <div>
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<div class="footer">
    &copy; 2025 Factory Orders Tracker. All Rights Reserved.
</div>

<script>
    document.getElementById("menu-toggle").addEventListener("click", function() {
        document.querySelector(".sidebar").classList.toggle("expanded");
    });
</script>

</body>
</html>
